body{ 
  background-color:  #E5E5E5;;
}

.card {
  position: relative;
  width: 367px;
  height: 413px;
  border-radius: 12px;
 background-color: white;
  box-shadow: -webkit-box-shadow: 50px 100px 26px -77px rgba(34, 60, 80, 0.15) inset;
  -moz-box-shadow: 50px 100px 26px -77px rgba(34, 60, 80, 0.15) inset;
  box-shadow: 50px 100px 26px -77px rgba(34, 60, 80, 0.15) inset;
}

.img{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.info {
  position: absolute;
height: 20px;
left: 92px;
right: 12px;
top: 12px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height */

text-align: right;

color: #FFFFFF;
}
.iconImage{
  box-sizing: border-box;

position: absolute;
width: 52px;
height: 52px;
left: 12px;
top: 12px;
border-radius: 50%;
background: url("./Photos/Rectangle 1.png");
border: 1px solid #FFFFFF;
filter: drop-shadow(2px 4px 12px rgba(0, 0, 0, 0.25));
background-position: center;
background-size: cover;
}
.coverImage {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 234px;
  width: 367px;
  height: 179px;
  border-top-right-radius: border-radius: 12px;
}
.text {
  position: absolute;
  height: 52px;
  left: 16px;
  right: 16px;
  bottom: 166px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  color: #212121;
}
.by {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 16px;
  bottom: 130px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  color: #212121;
}
.autor {
  position: absolute;
  width: 248px;
  height: 20px;
  left: 44px;
  bottom: 130px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  color: #212121;
}
.progress {
  position: absolute;
  width: 260px;
  height: 20px;
  left: 16px;
  bottom: 90px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  color: #9c9c9c;
}
.number {
  color: #4ce77b;
}
.line {
  position: absolute;
  height: 12px;
  left: 16px;
  right: 16px;
  bottom: 76px;

  background: #f0f0f0;
  border-radius: 100px;
}
.activeline {
  position: absolute;
  height: 12px;
  left: 16px;
  right: 124px;
  bottom: 76px;
  z-index: 25;
  background: linear-gradient(90deg, #4ce77b 0%, #73f49a 100%);
  border-radius: 100px;
}
.option {
  position: absolute;
  left: 6.67%;
  right: 6.67%;
  top: 87.67%;
  bottom: 41.67%;
  background-image: url("./Photos/Options.png");
  background-color: #cccccc;
}
.like {
  position: absolute;
  left: 75.17%;
  right: 2.8%;
  top: 87.67%;
  bottom: 12.5%;
}

.share {
  position: absolute;
  left: 85.5%;
  right: 12.5%;
  top: 87.67%;
  bottom: 8.75%;
}
